body {
	font: 16px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	color: #3b3b3b;
	padding-left: 185px;
	background-color: #fffff8;
}

h1,h2,h3 {
	font-family: "Lucida Grande", "Trebuchet MS", "Verdana", "sans-serif";
	font-weight: bold;
}

h1 {
	border-bottom: 3px solid #aaa;
	background-color: #23294d;
	color: #ddd;
	padding-left: 15px;
	margin-left: 160px;
}

h2 {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #DDD;
	padding-left: 15px;
	font-weight: normal;
}

h3 {
	font: 16px;
	margin-left: 15px;
}

.secao {
	background-color: #eee;
	padding-left: 15px;
}

label {
	font-weight: bold;
	margin-right: 10px;
}

label:after {
	content: ":";
}

a {
	text-decoration:none;
	color: #f33;
}

a:visited {
	text-decoration:none;
	color: rgb(55, 12, 124);
}

a:hover {
	text-decoration:none;
	color: #fa0;
}

#menu {
	margin: 0;
}

#menu ul, #menu li {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.vcard {
	padding: 5px;
}

.url, .email {
	display: block;
}

.photo {
	float: right;
	margin-right: 20%;
}

#footnote {
	border-top: 1px dashed #aaa;
	padding: 5px;
	font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

#footnote li {
	list-style-type: none;
	margin-top: 3px;
}

hr {
	height:3px;
	background:#808080;
	border:none;
}

header {
	font-weight: bold;
	font-size: 16px;
}

nav {
	font-weight: bold;
	color: blue;
	font-size: 20px;
	margin-left: 15px;
	margin-top: -22px;
}

footer {
	font-size: 85%;
}

img {
    float: left;
    padding: 0px;
    margin: 0px 10px 10px 0;
    max-width: 170px;
}

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
  }
  
  .tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
  }
  
  .tab button:hover {
	background-color: #ddd;
  }
  
  .tab button.active {
	background-color: #ccc;
  }
  
  .tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
  }

  /* The sidebar menu */
.sidenav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 185px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #23294d;
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 22px;
  color: #ddd;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: rgb(255, 217, 0);
}

/* Style page content */
.main {
  margin-left: 185px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}